/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;

// Colors
$white: #fff;
$black: #000;
$brown: #594022;
$rust: #8D4302;
$orange: #D97F30;
$yellow: #C09006;
$green: #A3A654;
$dark-brown: #2F2314;
$dark-rust: #5D2B00;
$dark-orange: #5D2B00;
$dark-yellow: #7D5E06;
$dark-green: #5E601F;
$light-brown: #A9865B;
$light-rust: #DFA470;
$light-orange: #F3C889;
$light-yellow: #F8DA83;
$light-green: #D7DB7C;