/* =============
    Section 6
============= */

#section-6{

    #logo-1{
        background-image: url("../img/section-6/logo1.png");
        height: 100px;
        width: 100px;
        background-size: cover;
    }

    #logo-2{
        background-image: url("../img/section-6/logo2.png");
        height: 100px;
        width: 100px;
        background-size: cover;
    }

    #logo-3{
        background-image: url("../img/section-6/logo3.png");
        height: 100px;
        width: 100px;
        background-size: cover;
    }

    #logo-4{
        background-image: url("../img/section-6/logo4.png");
        height: 100px;
        width: 100px;
        background-size: cover;
    }

    #logo-5{
        background-image: url("../img/section-6/logo5.png");
        height: 100px;
        width: 100px;
        background-size: cover;
    }

    #logo-6{
        background-image: url("../img/section-6/logo6.png");
        height: 100px;
        width: 100px;
        background-size: cover;
    }

    #logo-7{
        background-image: url("../img/section-6/logo7.png");
        height: 100px;
        width: 100px;
        background-size: cover;
    }

    #logo-8{
        background-image: url("../img/section-6/logo8.png");
        height: 100px;
        width: 100px;
        background-size: cover;
    }

    #logo-9{
        background-image: url("../img/section-6/logo9.png");
        height: 100px;
        width: 100px;
        background-size: cover;
    }

    #logo-10{
        background-image: url("../img/section-6/logo10.png");
        height: 100px;
        width: 100px;
        background-size: cover;
    }
}