/* =============
    Section 1
============= */

#section-1{
    background-image: url("../img/section-1/hero.jpeg");
    height: 60vh;
    background-size: cover;
    background-position: 640px top;

    article{
        width: 100px;
        height: 100px;
        background: $yellow;
        transform: rotate(-45deg);
        margin: -50px auto;
    }

    @include md{
        background-position: center;
    }
}