/* =============
    Section 5
============= */

#section-5{

    #section-5-map{
        background-image: url("../img/section-5/map.jpeg");
        height: 30vh;
        width: 320px;
        background-size: cover;
    }
}