/* =============
    Section 4
============= */

#section-4{
    
    #market{
        background-image: url("../img/section-4/market.jpeg");
        height: 40vh;
        width: 320px;
        background-size: cover;
    }

    #quetzal{
        background-image: url("../img/section-4/quetzal.jpeg");
        height: 40vh;
        width: 320px;
        background-size: cover;
    }

    #bohemian{
        background-image: url("../img/section-4/bohemianpink.jpeg");
        height: 40vh;
        width: 320px;
        background-size: cover;
    }

    #chestnut{
        background-image: url("../img/section-4/chestnutgrill.jpeg");
        height: 40vh;
        width: 320px;
        background-size: cover;
    }

    #kilian{
        background-image: url("../img/section-4/kilian.jpeg");
        height: 40vh;
        width: 320px;
        background-size: cover;
    }

    #bjorn{
        background-image: url("../img/section-4/bjorn.jpeg");
        height: 40vh;
        width: 320px;
        background-size: cover;
    }

    #serendipity{
        background-image: url("../img/section-4/serendipity.jpeg");
        height: 40vh;
        width: 320px;
        background-size: cover;
    }
}