/* =============
    Footer
============= */

#footer {
    background-color: $dark-yellow;
    padding: 10px 0 0;

    @include lg {
        display: grid;
        grid-template-columns: auto 800px auto;
        grid-template-areas: ". footer .";
    }

    #footer-grid {

        grid-area: footer;

        @include md {
            display: grid;
            grid-template-columns: 3(1fr);
            grid-template-areas:
                "contact logo legal"
                "social-media logo up";

            padding: 50px 40px;
        }

        #footer-contact {
            font-size: rem-calc(15);
            line-height: 19px;
            color: $light-yellow;
            text-align: center;

            span {
                font-weight: 600;
            }

            @include md {
                grid-area: contact;
                text-align: left;
            }
        }

        ul {

            @include md {
                grid-area: social-media;
                display: inline-flex;
                margin-left: -5px;
            }

            li {
                text-align: center;
                font-size: rem-calc(40);

                @include md {
                    display: inline-flex;
                    padding: 0 5px;
                    font-size: rem-calc(30);
                }

                a:link,
                a:visited {
                    color: $light-yellow;
                    transition: 0.25s;
                }

                a:hover,
                a:active {
                    color: $dark-brown;
                }
            }
        }

        #logo {
            display: block;
            margin: 0 auto;

            @include md {
                grid-area: logo;
                margin-top: 20px;
            }
        }

        h6 {
            font-family: masqualero, sans-serif;
            font-weight: 300;
            font-size: rem-calc(10);
            line-height: 13px;
            margin: 30px auto 0;
            padding: 0 0 30px;
            text-align: center;
            color: $light-yellow;

            @include md {
                grid-area: legal;
                text-align: right;
            }
        }

        #back-to-top {

            @include md {
                grid-area: up;
                position: relative;
                left: 130px;
            }

            @include lg {
                left: 160px;
            }
        }
    }
}